<div class="container my-4">
  <h2 class="mb-3 text-white" i18n>Calculator de credite</h2>
  <p class="text-white-50 mb-4" i18n>Calculează plățile lunare cu o singură rată fixă a dobânzii.</p>

  <!-- Loan Input Form -->
  <app-loan-input 
    (inputChanged)="onInputChanged($event)"
    (scheduleSelectionChange)="onVisibilityChanged($event)"
    (scheduleModeChange)="onScheduleModeChanged($event)"
    [(amount)]="amount"
    [(period)]="period"
    [(rate)]="rate"
    [(insuranceRate)]="insuranceRate"
  ></app-loan-input>

  <div class="row mt-4">
    <div class="col-12 col-md-6 mb-3" *ngIf="isValid() && showAnnuity">
      <app-payment-summary-cards
        [firstPayment]="annuityPayment"
        [isAnnuityPayment] = "true"
        [total]="annuityTotal"
        [amount]="amount"
        [interestTotal]="annuityInterestTotal"
        [insuranceTotal]="annuityInsuranceTotal"
        [IsInsuranceRateEnabled]="insuranceRate !== null"
        [isSavingBadgeVisible]="false"
        [alertClass]="'alert-green'"
      ></app-payment-summary-cards>
    </div>
    <div class="col-12 col-md-6 mb-3" *ngIf="isValid() && showLinear">
      <app-payment-summary-cards
        [firstPayment]="linearPayment"
        [isAnnuityPayment] = "false"
        [total]="linearTotal"
        [amount]="amount"
        [interestTotal]="linearInterestTotal"
        [insuranceTotal]="linearInsuranceTotal"
        [IsInsuranceRateEnabled]="insuranceRate !== null"
        [isSavingBadgeVisible]="showAnnuity && true"
        [savingAmount]="annuityTotal! - linearTotal!"
        [alertClass]="'alert-purple'"
      ></app-payment-summary-cards>
    </div>
  </div>

  <!-- Amortization Tables Side by Side (or full width) -->
  <div class="row mt-4" *ngIf="annuitySchedule.length || linearSchedule.length">
    <div 
      [ngClass]="showAnnuity && showLinear ? 'col-lg-6 mb-4' : 'col-8 mb-4'" 
      *ngIf="showAnnuity">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0 text-white" i18n>Scadențar cu rate egale</h4>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="downloadPdf(annuitySchedule, 'annuity')">
          <span class="me-2">PDF</span>
          <i class="bi bi-download"></i>
        </button>
      </div>
        <app-amortization-schedule 
          [schedule]="annuitySchedule"
          [insuranceRate]="insuranceRate"
        ></app-amortization-schedule>
    </div>
    
    <div 
      [ngClass]="showAnnuity && showLinear ? 'col-lg-6 mb-4' : 'col-8 mb-4'" 
      *ngIf="showLinear">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0 text-white" i18n>Scadențar cu rate descrescătoare</h4>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="downloadPdf(annuitySchedule, 'linear')">
          <span class="me-2">PDF</span>
          <i class="bi bi-download"></i>
        </button>
      </div>
        <app-amortization-schedule 
          [schedule]="linearSchedule"
          [insuranceRate]="insuranceRate"
        ></app-amortization-schedule>
    </div>
  </div>

</div>
