<div class="container my-4 ">
  <h2 class="mb-3 text-white" i18n>Simple Loan Calculator</h2>
  <p class="text-white-50 mb-4" i18n>Calculate your monthly payments with a single fixed interest rate.</p>

  <!-- Loan Input Form -->
  <app-loan-input 
    (schedulesGenerated)="onSchedulesGenerated($event)"
    (inputChanged)="onInputChanged($event)"
    (scheduleSelectionChange)="onVisibilityChanged($event)"
    [(amount)]="amount"
    [(period)]="period"
    [(rate)]="rate"
    [(insuranceRate)]="insuranceRate"
  ></app-loan-input>

  <app-payment-summary-cards
  [annuityPayment]="annuityPayment"
  [annuityTotal]="annuityTotal"
  [linearPayment]="linearPayment"
  [linearTotal]="linearTotal"
  [amount]="amount"
  [showAnnuity]="showAnnuity"
  [showLinear]="showLinear"
></app-payment-summary-cards>

  
<!-- Amortization Tables Side by Side (or full width) -->
<div class="row mt-4" *ngIf="annuitySchedule.length > 0">
  <div 
    [ngClass]="showAnnuity && showLinear ? 'col-lg-6 mb-4' : 'col-8 mb-4'" 
    *ngIf="showAnnuity">
    <h4 class="mb-3 text-white" i18n>Annuity (Equal Payments)</h4>
    <app-amortization-schedule
      [schedule]="annuitySchedule"
      [loanAmount]="amount"
      [totalPeriod]="period"
      [fixedRate]="rate"
      [insuranceRate]="insuranceRate"
      [scheduleType]="'annuity'"
    ></app-amortization-schedule>
  </div>
  
  <div 
    [ngClass]="showAnnuity && showLinear ? 'col-lg-6 mb-4' : 'col-8 mb-4'" 
    *ngIf="showLinear">
    <h4 class="mb-3 text-white" i18n>Linear (Decreasing Payments)</h4>
    <app-amortization-schedule 
      [schedule]="linearSchedule"
      [loanAmount]="amount"
      [totalPeriod]="period"
      [fixedRate]="rate"
      [insuranceRate]="insuranceRate"
      [scheduleType]="'linear'"
    ></app-amortization-schedule>
  </div>
</div>

</div>
