.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  padding: 15px 0;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

.cookie-banner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookie-banner p {
  margin: 0;
  flex-grow: 1;
}

.cookie-banner .button-group {
  display: flex;
}
